# Binaries
# -------------
*.exe
*.exe~
*.dll
*.so
*.dylib
test
main
dogent-agent
dogent-agent-linux
dogent-agent-windows

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# Logs
# -------------
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Specific
# -------------
.DS_Store
Thumbs.db
Desktop.ini

# IDEs
# -------------
.idea/
.vscode/
*.swp
*.swo
*~
